<%= form_for(@trial) do |f| %>
  <% if @trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial.errors.count, "error") %> prohibited this trial from being saved:</h2>

      <ul>
      <% @trial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :diff %><br>
    <%= f.number_field :diff %>
  </div>
  <div class="field">
    <div class="field_head">Tags</div>
      <%= hidden_field_tag("trial[tag_ids][]", nil) %>
      <% current_user.tags.order(:name).each do |tag| %>
          <label><%= check_box_tag("trial[tag_ids][]", tag.id, @trial.tag_ids.include?(tag.id))  %> 
          <%= tag.name %></label>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
