<p id="notice"><%= notice %></p>

<h1>Listing Trials</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th>Diff</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trials.each do |trial| %>
      <tr>
        <td><%= trial.title %></td>
        <td><%= trial.notes %></td>
        <td><%= trial.diff %></td>
        <td>
        <% @Tags = trial.tags.find_all %>
        <% loop do %>
        <%= @Tags.next.name + ',' %>
        <% end %>
        </td>
        <td><%= link_to 'Show', trial %></td>
        <td><%= link_to 'Edit', edit_trial_path(trial) %></td>
        <td><%= trial.streak %></td>
        <td><%= link_to 'Done', trial, method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trial', new_trial_path %>
