<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :duedate %><br>
    <%= f.date_select(:duedate, :order => [:month, :day, :year]) %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.number_field :difficulty %>
  </div>
  <div class="field">
    <div class="field_head">Tags</div>
      <%= hidden_field_tag("todo[tag_ids][]", nil) %>
      <% current_user.tags.order(:name).each do |tag| %>
          <label><%= check_box_tag("todo[tag_ids][]", tag.id, @todo.tag_ids.include?(tag.id))  %> 
          <%= tag.name %></label>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
