<p id="notice"><%= notice %></p>

<h1>Listing Todos</h1>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th>Duedate</th>
      <th>Difficulty</th>
      <th>Tags</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.notes %></td>
        <td><%= todo.duedate.to_formatted_s(:rfc822) %></td>
        <td><%= todo.difficulty %></td>
        <td>
        <% @Tags = todo.tags.find_all %>
        <% loop do %>
        <%= '|' + @Tags.next.name + '|' %>
        <% end %>
        </td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
