<%= form_for(@daily) do |f| %>
  <% if @daily.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily.errors.count, "error") %> prohibited this daily from being saved:</h2>

      <ul>
      <% @daily.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.number_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br>
    <%= f.date_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :streak %><br>
    <%= f.number_field :streak %>
  </div>
  <div class="field">
    <div class="field_head">Tags</div>
      <%= hidden_field_tag("daily[tag_ids][]", nil) %>
      <% current_user.tags.order(:name).each do |tag| %>
          <label><%= check_box_tag("daily[tag_ids][]", tag.id, @daily.tag_ids.include?(tag.id))  %> 
          <%= tag.name %></label>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
