<!DOCTYPE html>
<html>
<head>
  <title>DoNow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !user_signed_in? %>
<%= link_to("Sign In", new_user_session_path) %>
<%= link_to("Sign Up", new_user_registration_path) %>
<% else %>
<%= link_to("Logout", destroy_user_session_path , method: :delete) %>
<%= link_to("Home", root_path) %>
<%= link_to("Habits", habits_path) %>
<%= link_to("Notes", notes_path) %>
<%= link_to("To-do", todos_path) %>
<%= link_to("Trials", trials_path) %>
<%= link_to("Tags", tags_path) %>
Health : <%= current_user.record.health %>
Experience : <%= current_user.record.experience %>
Level : <%= current_user.record.level %>
<% end %>
<hr>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
